body {
    font-family: monospace;
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
  }
  
  header, footer {
    background-color: #000d57;
    color: white;
    padding: 1rem;
  }
  
  nav {
    background-color: white;
    color: black;
    padding: 1rem;
  }
  
  nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: black;
  }
  
  main {
    background-color: #efefef;
    color: #330000;
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
  }
  
  footer {
    margin-top: auto;
  }
  